<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>添加好友</title>
<link rel="stylesheet" type="text/css" th:href="@{/friend/res/layui/css/layui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/friend/res/css/main.css}">
<!--  <iframe src="top.html" width="100%" scrolling="no" height="500px" frameborder="0"></iframe> -->
<body>
<div th:replace="/friend/html/top::allInfo" style="width:100%;height: 500px" scrolling="no"></div>
<div style="margin-left: 170px;">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <img th:src="${user.info.userPic}" width="100px" height="100px">
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">昵称：</label>
            <div class="layui-input-block">
                <input type="text" name="username" required lay-verify="required" th:value="${user.info.username}"
                       autocomplete="off" class="layui-input" style="border:none;">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-block">
                <input type="text" name="sex" required lay-verify="required" th:value="${user.info.sex}"
                       autocomplete="off" class="layui-input" style="border:none;">
            </div>
        </div>

        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label">验证信息:</label>-->
        <!--            <div class="layui-input-block">-->
        <!--                <input type="text" name="content" lay-verify="title" autocomplete="off" placeholder="请输入标题0~10" class="layui-input" style="width: 10%;">-->
        <!--            </div>-->
        <!--        </div>-->


        <!--        <div class="layui-inline">-->
        <!--            <label class="layui-form-label">添加分组</label>-->
        <!--            <div class="layui-input-inline">-->
        <!--                <select name="modules" lay-verify="required">-->
        <!--                    <option value="">分组列表</option>-->
        <!--                    <option th:each="cate:${user.category}" th:text="${cate.categoryName}"-->
        <!--                            th:value="${cate.id}"></option>-->
        <!--                </select>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--  <div class="layui-form-item">-->
        <!--    <label class="layui-form-label">组别：</label>-->
        <!--    <div class="layui-input-block">-->
        <!--      <input type="text" name="petName" required  lay-verify="required" value="男" autocomplete="off" class="layui-input" style="border:none;">-->
        <!--    </div>-->
        <!--  </div>-->

        <div class="layui-form-item" th:if="${user.info.myFriend eq true}">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" style="margin-top: 20px;" disabled>已添加
                </button>
            </div>
        </div>
        <div class="layui-form-item" th:if="${user.info.myFriend eq false}">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" th:name="${user.info.id}"
                        onclick="friendSort();return false"
                        style="margin-top: 20px;">加好友
                </button>
            </div>
        </div>

        <!--        <div class="layui-form-item">-->
        <!--            <div class="layui-input-block">-->
        <!--                <button class="layui-btn" lay-submit lay-filter="formDemo" type="button"  onclick="friendSort()">加好友</button>-->

        <!--            </div>-->
        <!--        </div>-->

    </form>

    <div th:replace="/friend/html/foot :: copyright" style="width: 100%;height: 300px" frameborder="0" height="300px"></div>

    <div id="friendSort" style="margin-top:50px; display: none">
<!--        <form class="layui-form" action=" ">-->

            <div class="layui-form-item">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-inline">
                    <input type="text" name="content" required lay-verify="required" placeholder="请输入备注"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分组：</label>
                <div class="layui-input-inline">
                    <select name="modules" lay-verify="" class="layui-input">
                        <option th:each="cate:${user.category}" th:text="${cate.categoryName}"
                                th:value="${cate.id}"></option>
                    </select>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo" th:name="${user.info.id}"
                            onclick="addFriend(this)">立即提交
                    </button>

                </div>
            </div>
<!--        </form>-->
<!--        <-->
    </div>
</div>
<script type="text/javascript" src="../../../static/friend/res/layui/layui.js"></script>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use(['form', 'upload'], function () {
        var form = layui.form;
        form.render();
    });

    function friendSort() {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                title: '好友分组',
                type: 1,
                content: $('#friendSort'),
                area: ['400px', '300px']
            })

        })
    }

    function addFriend(e) {
        var id = e.name;
        var cate = $("[name=modules]").val();
        var content = $("[name=content]").val();
        alert(id)
        $.ajax({
                //几个参数需要注意一下
                type: "post",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/friend-request/insertFriend",//url
                data: {userId: id, friendComment: content, cate: cate},
                success: function (result) {
                    if (result.status == 200) {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg('申请成功');
                            setTimeout(function () {
                                layer.closeAll();
                            }, 2000);

                        });
                    }
                }
            }
        )
    }
</script>

</body>
</html>