<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>我的动态</title>
<link rel="stylesheet" type="text/css" th:href="@{/friend/res/layui/css/layui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/friend/res/css/main.css}">
<link rel="stylesheet" th:href="@{/friend/res/my-page/my-page.css}">


<body>
<div th:replace="/friend/html/top::allInfo" style="width:100%;height: 500px" scrolling="no"></div>
<div class="content whisper-content" style="margin-right: 280px;">
    <div class="cont">
     <button type="button" class="layui-btn" style="margin-left:50px;margin-top:-150px;" onclick="addDynamic()">新增</button>
        <div class="whisper-list">
            <div class="item-box" th:each="user,userStat: ${userInfo.info}">
                <div class="item" th:id="${'item_'+user.id}">
                    <div class="whisper-title">
                        <img th:src="${user.userinfo.userPic}" class="layui-nav-img" th:title="${user.userinfo.userPic==''?'':user.userinfo.username}"><a href="#"><span class="volume"
                                                                                                    th:text="${user.userinfo.username}"></span>&nbsp;&nbsp;
                        <span class="date" th:text="${#dates.format(user.createTime,'yyyy/MM/dd HH:mm')}"></span></a>
                        <div class="layui-btn-group" style=" float: right;">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary " th:name="${user.id}"
                                    th:if="${user.isNotMyself} eq true" onclick="updateDynamic(this);return false;">
                                <i class="layui-icon">&#xe642;</i>
                            </button>

                            <span th:if="${user.isNotMyself} eq true">
  <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" th:id="${user.id}"
          onclick="deleteDy(this);return false;">
    <i class="layui-icon">&#xe640;</i>
  </button>
        </span>
                        </div>
                    </div>
                    <p class="text-cont" th:name="${'text_con_'+user.id}" th:text="${user.dynaminContent}">
                    </p>
                    <div class="img-box" th:each="image:${user.dynamicFiles}">
                        <img th:if="${not #strings.containsIgnoreCase(image.filePath,'null')}" th:src="${image.filePath}" style="width: 400px; height: 300px;">
                        <input th:id="${'byId_'+userStat.index}" th:value="${user.id}" type="hidden"/>
                    </div>
                    <div class="op-list">
                        <p class="like"><i class="layui-icon layui-icon-praise"></i><span></span></p>
                        <p class="off a" onclick="off()" ><i class="layui-icon layui-icon-reply-fill"></i><span></span></p>
                        <p class="off a" onclick="off()" name="true"><span>评论</span><i class="layui-icon layui-icon-down"></i></p>
                    </div>
                    <div class="review-version layui-hide" id="commentId" name="true">
                        <div class="form">
                            <img th:src="@{/friend/res/img/header2.png}">
                            <form class="layui-form" id="formDemo">
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-block">
                                        <textarea th:id="${'content_'+userStat.index}" th:name="${'content_'+user.id}"
                                                  class="layui-textarea content"
                                                  style="padding: 10px 0 120px 0;"></textarea>
                                    </div>

                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block" style="text-align: right;">
                                        <button class="layui-btn definite" type="button" th:id="${userStat.index}"
                                                onclick="submission(this)">確定
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="list-cont" th:id="${'cont_'+userStat.index}">
                            <div th:each="comments:${user.commentList}" th:id="${'span_'+userStat.index+commentsStat.index}" th:if="${comments.dynamicId eq user.id}">
                         <span  th:id="${'div_'+userStat.index+commentsStat.index}">
                      <div class="cont" th:id="${'cont_'+commentsStat.index}">
                          <div class="img">
                              <img th:src="${comments.petSrc}" alt="" style="height: 50px;width: 50px;">
                          </div>
                          <div class="text">
                              <p class="tit"><span class="name" th:text="${comments.name}"></span>
                                   <span th:if="${comments.myselfComment} eq true">
                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                                            th:id="${userStat.index+''+commentsStat.index}" th:name="${comments.id}" onclick="deleteComment(this)">
                                    <i class="layui-icon">&#xe640;</i>
                                    </button>
        </span>
                                  <span class="data"
                                        th:text="${#dates.format(comments.createTime,'yyyy/MM/dd HH:mm')}"></span></p>
                              <p class="ct" th:text="${comments.commentContent}"></p>
                          </div>
                      </div>
            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--        <div id="demo1" style="text-align: center;"></div>-->
    </div>
</div>


<div id="addDynamic" style="display: none;">
    <form class="layui-form" id="formId" action="" style="margin-top: 40px;margin-right: 30px;">
        <div class="layui-form-item">
            <label class="layui-form-label">内容：</label>
            <div class="layui-input-block">
                <textarea name="dynaminContent" required lay-verify="required" placeholder="请输入"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片：</label>
            <div class="layui-input-inline">
                <input type="file" required lay-verify="required" name="files" autocomplete="off" class="layui-input"
                       style="border: none;">
            </div>

        </div>
        <button type="button" class="layui-btn" onclick="addDynamicInfo(this);return false;"
                style="margin-left: 200px;">上传
        </button>
    </form>
</div>
<div id="updateDynamic" style="display: none;">
    <form class="layui-form" action="" id="formId1" style="margin-top: 40px;margin-right: 30px;">
        <input id="dyId" name="id" class="layui-hide">
        <div class="layui-form-item">
            <label class="layui-form-label">内容：</label>
            <div class="layui-input-block">
                <textarea name="dynaminContent" id="dynaminContent1" required lay-verify="required"
                          class="layui-textarea" style="border: none;">敢问大师，师从何方？上古高人呐逐一地看完你的作品后，我的心久久 不能平静！这世间怎么可能还有如此精辟的作品？我不敢相信自己的眼睛。自从改革开放以后，我就以为再也不会有任何作品能打动我，没想到今天看到这个如此精妙绝伦的作品好厉害!</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">修改图片</label>
            <div class="layui-input-inline">
                <input type="file" name="files" required lay-verify="required" placeholder="请输入密码" autocomplete="off"
                       class="layui-input" style="border: none;">
            </div>

        </div>
        <button type="button" class="layui-btn" style="margin-left: 250px;"
                onclick="updateDynamicInfo(this);return false;">修改
        </button>
    </form>
</div>
<p class="layui-hide" id="index" th:text="${page.getCurrent()}"></p>
<p class="layui-hide" id="size" th:text="${page.getSize()}"></p>
<p class="layui-hide" id="total" th:text="${page.getPages()}"></p>
<div style="margin-left: 500px;">
    <div class="my-page" style="height: 50px;"></div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" th:src="@{/friend/res/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/friend/res/js/util/menu.js}"></script>
<script type="text/javascript" th:src="@{/friend/res/js/util/mm.js}"></script>
<script type="text/javascript" th:src="@{/friend/res/my-page/my-page.js}"></script>
<script type="text/javascript">
    let total = $('#total').html();
    let index = $('#index').html();
    let size = $('#size').html();
    // alert(index+"=="+size+"=="+total)
    myPageInit({
        pages: total,
        currentPage: index,
        element: '.my-page',
        callback: function (page) {
            console.log("当前页:", page);
            if(page!==parseInt(index)){
                window.location.href="/user-dynamic/selectDynamic?pageIndex="+page+"&pageSize="+size;
                return false;
            }
        }
    });

    layui.use(['element', 'laypage', 'form'], function () {
        element = layui.element
            ,laypage = layui.laypage
            , form = layui.form;
        laypage.render({
            elem: 'demo'
            , count: 70 //数据总数，从服务端得到
        });
        // menu.init();
        // menu.off();
        // menu.submit()
    });

    function addDynamicInfo() {
        var fd = new FormData(document.getElementById("formId"));
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/user-dynamic/insertDynamic",//url
            processData: false, //告诉jQuery不要去处理发送的数据
            contentType: false, //告诉jQuery不要去设置Content-Type请求头
            data: fd,
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.status == 200) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg('添加成功');
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    });
                } else {
                    alert(result.message)
                }
                ;
            },
            error: function () {
                alert("异常！" + result);
            }
        });
        return false;
    }

    function updateDynamicInfo() {
        var fd = new FormData(document.getElementById("formId1"));
        layer.confirm('是否确认更新？', function (index) {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/user-dynamic/updateDynamic",//url
            processData: false, //告诉jQuery不要去处理发送的数据
            contentType: false, //告诉jQuery不要去设置Content-Type请求头
            data: fd,
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                alert(result.status);
                if (result.status == 200) {
                    // window.location.href="./html/login.html"
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg('更新成功');
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    });
                }
                // else {
                //     alert(result.message)
                // };
            },
            error: function () {
                alert("异常！" + result);
            }
        });
            layer.close(index);
        })
    }

    function submission(e) {
        var id = e.id;
        var dyId = $("#byId_" + id).val();
        var content = $("#content_" + id).val();
        if (!content) {
            alert("请输入评论!");
            return false;
        }
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/comment/addComment",//url
            data: {id: dyId, comment: content},
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.status == 200) {
                    var data = result.data;
                    var str='<div id="div_'+data.id+'"> <span id="span_'+id+'"> <div class="cont"> <div class="img">'
                    str += '<img src="' + data.petSrc + '" alt=""> </div>';
                    str += '<div class="text">';
                    str += ' <p class="tit"><span class="name">'+data.name+'</span>';
                    str += '<button type="button" class="layui-btn layui-btn-sm layui-btn-primary" id="'+id+'" name="'+data.id+'" onclick="deleteComment(this)"><i class="layui-icon">&#xe640;</i></button>' +
                        '<span class="data">'+data.timeString+'</span></p>';
                    str += '<p class="ct">'+data.commentContent+'</p>';
                    str += '</div>';
                    str+='</span></div>'
                    $("#cont_" + id).append(str);
                } else {
                    alert(result.message)
                };
            },
            error: function () {
                alert("异常！" + result);
            }
        });
    }

    function deleteDy(e) {
        var id = e.id;
        layer.confirm('确定要删除动态吗？', {
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/user-dynamic/deleteDynamicFile",//url
                data: {id: id},
                success: function (result) {
                    if (result.status == 200) {
                        $("#item_" + id).remove();
                        layer.close(layer.index);
                    }
                },
                error: function () {
                    alert("异常！" + result);
                }
            })
            return false;
        }, function () {

        });

    }

    function deleteComment(e) {
        layer.confirm('真的删除该评论？', function (index) {
            var id = e.name;
            var span_id=e.id;
            $.ajax({
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/comment/deleteComment",//url
                data: {id: id},
                success: function (result) {
                    if (result.status == 200) {
                        $("#span_" + span_id).remove();
                    }
                },
                error: function () {
                    alert("异常！" + result);
                }
            })
            layer.close(index)
        })
    }

    function addDynamic() {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                title: '新增动态',
                type: 1,
                content: $('#addDynamic'),
                area: ['500px', '300px']

            })

        })
    }

    function updateDynamic(e) {
        console.log($("[name=text_con_" + e.name + "]").html());
        var s = $("[name=text_con_" + e.name + "]").html();
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                title: '修改动态',
                type: 1,
                content: $('#updateDynamic'),
                area: ['600px', '400px'],
                success: function (index, layero) {
                    $("#dynaminContent1").val(s);
                    $("#dyId").val(e.name);
                }
            })

        })
    }

    function off() {
        var off = $('#commentId').attr('name');
        var chi = $(this).children('i');
        var text = $(this).children('span');
        var cont = $(this).parents('.op-list').siblings('.review-version');
        console.warn(cont, $(this).parents('.op-list'));
        if (off=='true') {
            // $(text).text('展开');
            // $(chi).attr('class', 'layui-icon layui-icon-down');
            // $(this).attr('off', 'false');
            $('#commentId').removeClass('layui-hide');
            $('#commentId').attr('name', 'false');
        } else {
            $('#commentId').addClass('layui-hide');
            $('#commentId').attr('name', 'true');
        }
    }


</script>
<div th:replace="/friend/html/foot :: copyright" style="width: 100%;height: 300px" frameborder="0" height="300px"></div>
</body>
</html>