<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--  <iframe src="top.html" width="100%" scrolling="no" height="500px" frameborder="0"></iframe> -->
    <!--  <div th:insert="top :: header" width="100%" scrolling="no"  frameborder="0" height="300px" style="margin-top: 10px;"></div>-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
    <head>
<body>
<!--<div th:insert="top :: header"></div>-->
<div class="row clearfix" style="margin-left: 180px;">
    <div class="col-md-4 column">
        <form class="loginForm">
            <div class="form-group">
                <label>电话</label><input type="tel" class="form-control phone" name="phone"/>
            </div>

            <div class="form-group">
                <label>密码</label><input type="password" class="form-control" name="password"/>
            </div>
            <button type="submit" class="btn btn-primary loginSubmit">登录</button>
        </form>
    </div>
</div>
<!--<div th:include="footer :: copyright"></div>-->

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
<script th:src="@{../../static/friend/res/js/commons/login.js}"></script>
</body>
</html>
<!--  <iframe src="foot.html" width="100%" scrolling="no"  frameborder="0" height="300px" style="margin-top: 10px;"></iframe>-->