<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjc.friend.demo.mapper.UserDynamicMapper">

    <resultMap id="userDynamicDto" type="com.zjc.friend.demo.dto.UserDynamicDto">
        <result property="id" column="id"/>
        <result property="createTime" column="ud_create_time"/>
        <result property="deleteStatus" column="delete_status"/>
        <result property="dynaminContent" column="dynamin_content"/>
        <result property="userId" column="user_id"/>

        <association property="userinfo" javaType="com.zjc.friend.demo.entity.Userinfo">
            <result property="id" column="user_id_id"/>
            <result property="address" column="address"/>
            <!--            <result property="password" column="password"/>-->
            <result property="petName" column="pet_name"/>
            <result property="sex" column="sex"/>
            <result property="username" column="username"/>
            <result property="userPic" column="user_pic"/>
        </association>

        <collection property="commentList" ofType="com.zjc.friend.demo.entity.Comment">
            <result property="dynamicId" column="dynamic_id"/>
            <result property="commentContent" column="comment_content"/>
            <result property="createTime" column="c_create_time"/>
            <result property="userId" column="d_user_id"/>
            <result property="commentUserId" column="comment_user_id"/>
            <result property="id" column="comment_id"/>
        </collection>

        <collection property="dynamicFiles" ofType="com.zjc.friend.demo.entity.DynamicFile">
            <result property="filePath" column="file_path"/>
            <result property="dynamicId" column="dynamic_id"/>
            <result property="imageName" column="image_name"/>
        </collection>


    </resultMap>


    <select id="queryDynamicInfo" parameterType="java.lang.Long" resultMap="userDynamicDto">
        select c.id as comment_id, u.id as user_id_id,c.user_id as d_user_id,ud.create_time ud_create_time,c.create_time
        c_create_time,
        ud.*,u.*,c.*,df.* from user_dynamic ud
        inner JOIN dynamic_file df on df.dynamic_id=ud.id
        LEFT JOIN `comment` c on ud.id=c.dynamic_id
        left join userinfo u on u.id=ud.user_id
        where
             ud.delete_status='0'
            <if test="ids!=null">
                and  ud.user_id =#{ids}
            </if>

        ORDER BY ud.create_time desc
    </select>
</mapper>
